body {
  font: 13px Helvetica Neue;
  text-rendering: optimizeLegibility;
  margin-top: 1em;
  overflow-y: scroll;
}

.body {
  width: 960px;
  margin: auto;
}

h1 {
  margin-bottom: 0px;
}

.content {
  position: relative;
  margin-left: 240px;
}

.gallery {
  position: relative;
  left: -240px;
  width: 970px;
}

#chart {
  width: 1000px;
  height: 500px;
}

#chart svg {
  display:inline;
}

.title {
  font-size: 60px;
  fill: #555;
}

#thank-yous-wrap {
  margin-top: 70px;
  position: relative;
  left: -50px;
  display: block;
}

p.thank-yous {
}

ul.thank-yous {
}

path {
    stroke: green;
    stroke-width: 2;
    fill: none;
}

line {
  stroke: black;
  stroke-width: 1;
}

text {
  font-family: Arial;
  font-size: 9pt;
}

a.icon-button { padding: 1px; display: inline-block; }
a.icon-button span { margin: 0px 1px 1px 0px; }
a.icon-button:hover {
-moz-border-radius: 2px;
border-radius: 2px;
border-style:solid;
border-width:thin;
border-color: #aaa;
padding: 0px;
background: #E7E7E7;
}


#current-words {
  list-style-type: none;
  padding-left: 10px;
  height: 150px;
  overflow: auto;
}

#current-words li {
  valign: middle;
}

#current-words-wrap {
  float: left;
  margin-top: 5px;
  display: inline;
}

#current-words-wrap h4 {
  margin-bottom: 0px;
}

#current-words {
  margin-top: 3px;
  width: 140px;
}

#radio-wrap {
  float: left;
  display: inline;
  vertical-align: bottom;
}

#current-words li {
  vertical-align: middle;
  margin-top: 5px;
  border-top: 1px solid #999999;
}

#current-words li:first-child {
  vertical-align: middle;
  margin-top: 5px;
  border-top: 0px solid #fff;
}

.word-list-item {
  vertical-align: top;
  position: relative;
  top: 2px;
}

#search-wrap {
  float: left;
  display: inline;
  padding: 6px 3px 6px 2px;
  background: #f6f6f6;
  
  -moz-border-radius: 2px;
  border-radius: 2px;
  border-width:thin;
  border-color: #ccc;
  box-shadow: rgba(0,0,0,0.4) 1px 1px;
}

#topic-wrap {
  float:left;
  display:inline;
  height: 200px;
}

#chart-sidebar {
  width: 150px;
  height: 500px;
  padding-top: 30px;
  display: inline-block;
}

.search-sym {
float: left;
display: inline;
position: relative;
top: 2px;
}

#current-words li a {
  float: right;
}

.ui-buttonset .ui-button {
margin-left: 0;
margin-right: -.3em;
}
.ui-button .ui-button-text {
margin: 3px;
}
.ui-button-text-only .ui-button-text {
padding: .1em .1em;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
border: 1px solid lightGrey;
background: #E6E6E6;
font-weight: normal;
color: #555;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
border: 1px solid #AAA;
background: white;
font-weight: normal;
color: #212121;
}

div.overlay {
  background: #FEFFD5;
  border: 1px solid #444;
}

#overlay-text {
  margin: 2px;
}

.yGrid, .xGrid {
  stroke: #ddd;
  stroke-width: 1;
  fill: none; 
  stroke-dasharray: 5 5;
}