.DS_Store
/eclipse/.metadata
/eclipse/data/target
/eclipse/data/.settings
/eclipse/data/bin
/eclipse/data/.classpath
/eclipse/data/.project
/eclipse/data/extra/enwiki-latest-page.sql
/eclipse/data/extra/enwiki-latest-redirect.sql
/eclipse/data/webroot/js/config.js
eclipse/data/webroot/js/config.js