.series div {
	display:inline;
}

#templates {
	display:none;
}

.droppable {
	background-color:#c3e8cc !important;
}

.series.droppable {
	background-color:#e7e8c3 !important;
}

.hover, .series.droppable.hover {
	background-color:#e8c3c3 !important;
}

.series {
	display:block;
	padding:3px;
	margin-bottom:2px;
	background:#EEE;
}

.disjunction .contents .literal:not(:first-child):before {
	content: " or ";
}

.disjunction {
	padding:3px;
}

.series .contents .disjunction:not(:first-child):before {
	content: "and ";
}

.series .contents .disjunction {
	margin-right:4px;

}

.sGrip, .dGrip {
	padding-left:2px;
	color:#CCC;
	font-weight:900;
	letter-spacing:1px;
	text-shadow: #BBB 1px 1px;
	cursor:move;
}


.graphOption.selected {
	border-color:red !important;
}

#bars, #lines, #areas, #year, #month, #page, #stacked, #countmode {
	background-repeat:no-repeat;
	background-position:2px 2px;
	padding-top:52px;
	width:54px;
	display:inline-block;
	text-align:center;
	margin:3px 2px;
	border:4px solid #DDD;
	background-color:white;
}

#year, #month, #page, #stacked, #countmode {
	background-size:50px 50px;
}
#countmode  {
	background-image:url("img/venn.png");
}
#countmode.selected {
	background-image:url("img/boolean.png");
}
#countmode .hidewhenoff {
    display:none;
}
#countmode.selected .hidewhenoff {
    display:inline;
}
#countmode.selected .hidewhenon {
    display:none;
}
#year {
	background-image:url("img/vcalendar.png");
}

#month {
	background-image:url("img/cal.png");
}

#page {
	background-image:url("img/knewsticker.png");
}

#stacked {
	background-image:url("img/kmultiple.png");
}


#bars {
	background-image:url("img/bars.png");
}
#lines {
	background-image:url("img/lines.png");
}
#areas {
	background-image:url("img/areas.png");
}

#settings fieldset {
	display:inline-block;
	border: 4px solid #EFEFEF;
	background:#EFEFEF;
	padding-right:10px;
}

#newseries, #clearseries, #trash {
	background: #EFEFEF;
	border:2px solid #DDD;
	padding: 2px 2px 2px 20px;
	margin: 6px 2px;
	background-repeat:no-repeat;
	background-position:2px 2px;
	display:inline;
}

#newseries {
	background-image: url("img/add.png");
	cursor: pointer;
}

#clearseries {
	background-image: url("img/delete.png");
	cursor: pointer;
}

#trash {
	background-image: url("img/bin_closed.png");

}

#palette .contents {
	padding-top:10px;
}

#palette .literal {
	display:block;
	margin-bottom:3px;
}

.literal span {
	background: #99CCFF;
	cursor:move;
	padding: 2px 4px 2px 4px;
	border-radius: 4px;
	display:inline;
}

.lemma span {
	background: #D0F5E0 !important;
}

.page span {
	background: orange !important;
}

.entity span {
	background: #CDEB8B !important;
}

.sentiment span {
	background: #C7ADE0 !important;
}

.publication span {
	background: #F5D3F4 !important;
}

#palette .literal span:before {
	content: "lemma/entity: "
}

#palette .publication span:before {
	content: "pub: " !important;
}

#palette .lemma span:before {
	content: "lemma: " !important;
}

#palette .page span:before {
	content: "page: " !important;
}

#palette .entity span:before {
	content: "entity: "
}

#palette .sentiment span:before {
	content: "sentiment: "
}

#palette .sister span:before {
	content: "sister term: "
}

#palette .parent span:before {
	content: "parent term: "
}

#palette .child span:before {
	content: "child term: "
}

#suggestions .ORGANIZATION, #suggestions .PERSON, #suggestions .LOCATION, #suggestions .parent, #suggestions .sister, #suggestions .child {
	background-repeat:no-repeat;
	padding-left:18px;
}

#suggestions .parent, #suggestions .sister, #suggestions .child {
	background-image: url("img/bricks.png");
}

#suggestions .ORGANIZATION {
	background-image: url("img/building.png");
}

#suggestions .PERSON {
	background-image: url("img/user.png");
}

#suggestions .LOCATION {
	background-image: url("img/map.png");
}