.series div {
	display:inline;
}

#templates {
	display:none;
}

.droppable {
	background:#c3e8cc;
}

.series.droppable {
	background:#e7e8c3;
}

.hover, .series.droppable.hover {
	background:#e8c3c3 !important;
}

.series {
	display:block;
	padding:3px;
	margin-bottom:2px;
	background:#EEE;
}

.disjunction .contents .literal:not(:first-child):before {
	content: " or ";
}

.disjunction {
	padding:3px;
}

.series .contents .disjunction:not(:first-child):before {
	content: "and ";
}

.series .contents .disjunction {
	margin-right:4px;

}

.sGrip, .dGrip {
	padding-left:2px;
	color:#CCC;
	font-weight:900;
	letter-spacing:1px;
	text-shadow: #BBB 1px 1px;
	cursor:move;
}

.literal {
	background: yellow;
	cursor:move;
	padding: 2px 4px 2px 4px;
	border-radius: 4px;
	display:inline;
}